.card-container{
  
    width: 20rem;
    background-color: var(--card-bg-color);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0, .8);
    border-radius: 4px;
    padding-bottom: 9rem;
    

}
.card-img-container{
  width: 100%;
height: 20rem;
}
.card-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: center center;
}
.card-details{
    
    color: var(--primary-text-color);  
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.title{
    font-size: 1.25rem;
}
.ratings{
    display: flex;
    justify-content: space-between;
}